<div class="container" style="margin-top: 20px; color:Black;background-color:White;border: 10px solid currentcolor">
    <div class="row">
      <h2>Employees {{employees.length}}</h2>
      <div class="employee"
           class="card" style= "border: 1px solid black; margin:1px;"
           class="col-md-3" *ngFor="let employee of employees">
       <app-employee [data]="employee" (handleSelect)="select(employee)"></app-employee>
      </div>
    </div>

    <div class="row">
       <h2>Selected Employees {{selectedEmployees.length}}</h2>
       <div class="employee"
            class="card" style= "border: 1px solid black; margin:1px;"
            class="col-md-3" *ngFor="let selectedEmployee of selectedEmployees">
        <app-employee [data]="selectedEmployee" (handleSelect)="unselect(selectedEmployee)"></app-employee>
      </div>
    </div>

  </div>
